main
        form(class="fm")
            div(class="wp-img")
                img(src="icons/login.svg" class="asd")
            div(class="wp-inputs")
                input(type="mail" placeholder="Correo" id="correo" class="input")
                div(class="wp-pass")
                    input(type="password" id="pass1" class="input pass" placeholder="Contraseña")
                    button(class="toggle" toggle="pass1")
                        img(src="icons/eye(1).svg", alt="eye" class="view" id="p1")
                        img(src="icons/hide.svg", alt="eye" class="hide" id="p2")
              
                button(type="submit" class="btn" id="log") Ingresar
                