doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title articulos 
        link(rel="shortcut icon", href="/icons/favicon.png", type="image/x-icon")
        link(href="https://fonts.googleapis.com/css2?family=Lato&family=Oxygen:wght@400;700&display=swap" rel="stylesheet") 
        link(href="/css/index.css" rel="stylesheet") 
        link(href="/css/articulosUser.css" rel="stylesheet") 
    body
        include layout/header.pug

        section.banner
            .wp-content
                h1 BLOG CER
        section.allArticles
            if articulos === 'nulos'
                h2 Articulos nulos
            else 
                each articulo in articulos
                    .article 
                        .header 
                            h3= articulo.titulo
                        
                        each parrafo in articulo.parrafos
                            .parrafos 
                                - var p = parrafo

                                .parrafoArticle !{p}

                        .wp-ownerData 
                            .wp-creathorThumbnail
                                img(src=`/${articulo.imgCreator}`, alt="")
                                span= articulo.usernameCreator
        script(src="/js/axios.min.js")
        script(src="/js/sweetalert2.js")
        script(src="/js/jquery.min.js")
        script(src="/js/particles.min.js")
        script(src="/js/articulos.js")