doctypehtml
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(href="https://fonts.googleapis.com/css2?family=Lato&family=Oxygen:wght@400;700&display=swap" rel="stylesheet" type="text/css") 
        link(rel="stylesheet", href="css/dash.css" type="text/css")
    body
        button(class="addBtn" id="addBlog")
            img(src="icons/mas.svg" alt="plus")
        
        main(class="wp-division")
            include layout/menu.pug
            section(class="wp-30")
            section(class="wp-content")
                div(class="title-wp")
                    h1 Blog cer
                div(class="leaf")
                    if arts === 'nulos'
                        include null/blog.pug                                            
                    else
                        p aja
        section(class="selectRetrieveDoc") 
            section(class="selector")
            section(class="selectorVideo")
                
        section(class="addBlog")
            button(class="close-add") 
                img(src="icons/close-wh.svg", alt="close-img")
            div(class="wp-editer")
                div(class="wp-inserts")
                    button(id="addP")
                        img(src="icons/plus.svg" alt="paragh-image")
                    button(id="linkAdd")
                        img(src="icons/link.svg" alt="link-image")
                    button(id="boldAdd")
                        img(src="icons/bold.svg" alt="bold-image")
                    button(id="italianAdd")
                        img(src="icons/italic.svg" alt="italic-image")
                    button(id="imageAdd")
                        img(src="icons/image.svg" alt="image-icon")
                    button(id="videoAdd")
                        img(src="icons/video.svg" alt="video-icon")
                    button(id="saveEraser")
                        img(src="icons/save.svg" alt="save-icon")
                div(class="wp-leaf")
                    div(class="wp-title" contenteditable="true" placeholder="Titulo del articulo") Sin titulo
                    div(class="wp-leafis")
                    div(class="wp-send")
                        button(class="sender") Agregar Articulo


        script(src="js/axios.min.js" type="text/javascript")
        script(src="js/sweetalert2.js" type="text/javascript")
        script(src="js/jquery.min.js" type="text/javascript")
        script(src="js/dash.js" type="text/javascript")