doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title articulos 
        link(rel="shortcut icon", href="/icons/favicon.png", type="image/x-icon")
        link(href="https://fonts.googleapis.com/css2?family=Lato&family=Oxygen:wght@400;700&display=swap" rel="stylesheet") 
        link(href="/css/index.css" rel="stylesheet") 
        link(href="/css/articulosUser.css" rel="stylesheet") 
    body
        include layout/header.pug

        section.banner
            .wp-content
                h1 MAESTROS
        section.allUsers
            if maestros === 'nulos'
                include null/cerArts.pug
            else
                each maestro in maestros 
                    .card-maestro(dataRedirect=`/maestro/${maestro.username}`)
                        .wp-imgMaestro
                            img(src=`/${maestro.img}`, alt="")
                        .wp-data 
                            .wp-name 
                                h4= maestro.username
                            .wp-correo
                                span= maestro.correo
                        
        script(src="/js/axios.min.js")
        script(src="/js/sweetalert2.js")
        script(src="/js/jquery.min.js")
        script(src="/js/particles.min.js")
        script(src="/js/articulos.js")