div(class="empty-title")
    h1 Parece que no tienes ninguna Carpeta donde almacenar archivos 
div(class="empty-message")
    p Comunicate con el administrador debe haber un error
div(class="empty-img")
    img(src="icons/empty-blog.svg", alt="imagen vacios")
    