div(class="empty-title")
    h1 Parece que no tienes ningun Archivo Añadido
div(class="empty-message")
    p Añade uno dandole click al boton de mas abajo a la derecha
div(class="empty-img")
    img(src="icons/empty-blog.svg", alt="imagen vacios")
    