div(class="empty-title")
    h1 Parece que no tienes ningun articulo 
div(class="empty-message")
    p Para añadir un nuevo articulo a tu blog dale click al boton de mas 
div(class="empty-img")
    img(src="icons/empty-blog.svg", alt="imagen vacios")
    